Support for decimals in CBOR

Just because I've also been testing with wick (Omer's tool) which is using Nexus, and against a WAMP API with lots of decimals: it seems like the CBOR serializer used in Nexus doesn't support CBOR tagged values, and also no tagged decimal fraction encoding, as described in RFC7049 section 2.4.3. pls find more details [here](https://github.com/codebasepk/wick/issues/42)